In [3]:
select ROGZITETTE,COUNT(SZALLAS_NEV) as "Címek száma" from Szallashely group by ROLLUP (ROGZITETTE);

ROGZITETTE,Címek száma
Béla,12
Mari,3
Sára,6
NULL,21

In [4]:
select TIPUS,COUNT(SZALLAS_NEV) as "Címek száma" from Szallashely group by ROLLUP (TIPUS);

TIPUS,Címek száma
Apartman,3
Diákszálló,1
Hotel,6
panzió,5
vendégház,6
NULL,21